<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User</title>
</head>
<body>
    <h2>User Registration</h2>
    <form action="registerUser" method="post">
    <pre>
        First Name: <input type="text" name="firstName"><br/><br/>
        Last Name: <input type="text" name="lastName"><br/><br/>
        User Name/Email: <input type="text" name="email"><br/><br/>
        Password: <input type="password" name="password"><br/><br/>
        Confirm Password: <input type="password" name="confirmPassword"><br/><br/>
        <input type="submit" value="register"/>
    </pre>
    </form>
</body>
</html>